.contFooter{
    /*
    position: fixed;
    bottom: 0; */ /*SI quiero q qde fija como pie de pag o en el view heigth*/
    left: 0;
    width: 100%;  
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
    background-color: rgb(0, 0, 0);
}
.footer {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divF{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.logo-footer{
    width: 150px;
    height: 150px;
}
footer ul {
    display: flex;
    width: 100%;
}
footer .iso {
    width: 70px;
    height: auto;
}
footer ul li {
    display: inline-block;
    position: relative;
    width: 35%;
}
/* linea superior */
footer ul li h2 {
    display: block;
    margin-bottom: 3px;
    border-bottom: 1px solid var(--primary-color);
}
footer ul li p {
    display: block;
    color: var(--primary-color);
    font-size: medium;
}
.divLinks{
    display: flex;
    flex-direction: column;
}
.links-items {
    color: var(--primary-color);
    text-decoration: none;
}
.contTodasMedidas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;  
}
footer span {
    width: 90%;
    font-size: smaller;
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--primary-color);
}
.iconosRedes{
    color: var(--primary-color);
    font-size:xx-large;
    margin-right: 10px;
}

@media screen and (max-width: 600px) {
    .divF{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        /* margin-right: 20px; */
    }
    footer ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
    footer ul li {
        display: block;        
        position: relative;
        width: 90%;
        margin-bottom: 10px;
    }
    footer ul li h4 {
        display: block;
        margin-bottom: 5px;
        border-bottom: 1px solid #ccc;
    }
    footer ul li h4 p, footer ul li p, footer ul li .link {
        font-size: 15px;
        line-height: 17px;
    }
}


