.contGralListaP {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-props{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.cont-card{
    margin-left: 20px;
}
.no-props{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

/* responsive */

@media screen and (max-width: 550px) {
    .contGralListaP {
        flex-direction: column;
        margin-top: 0;
    }
    .cont-card{
        margin-left: 0;
    }
}