.contGralListaP {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.cont-titulo-listaProps{
    width: 80%;
    text-align: center;
    margin: 0;
}
.cont-titulo-listaProps h2 {
    color: var(--primary-color);
    background-color: var(--background-color);
    border-radius: 20px;
    padding: 5px;
}
.contListaP {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.no-props{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
/* filtros  */
.cont-filtros-listaProps {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* responsive */

@media screen and (max-width: 1100px) {
    .contListaP{
        width: 90%;
    }
    .cont-titulo-listaProps, .cont-filtros-listaProps{
        width: 90%;
    }
}
@media screen and (max-width: 843px) {
    .contListaP{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
    
}
@media screen and (max-width: 550px) {
    .contGralListaP {
        flex-direction: column;
        margin-top: 0;
    }
    .contListaP {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 95%;
        height: auto;
    }
    .cont-titulo-listaProps{
        width: 90%;
    }
    /* filtros P.CH */
    .cont-filtros-listaProps {
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}