.cont-gral-Home{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #2b2a2adc;
}
.cont-home{
  width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
