.cont-filtros {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
  /* background-color: #242424; */
  background-color: var(--background-color);
}
/* est. 1er div */
.cont-titulo-filtro {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont-titulo-filtro p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--primary-color);
}
/* estilos 2do div */
.opc-venta-alq{
  margin-bottom: 20px;
}
.opc-venta-alq label {
  font-size: large;
  color: #fff;
}
.input-check-venta, .input-check-alq{
  transform: scale(1.2); /* agranda el tamaño del checkbox */
  margin-left: 10px;
}
/* estilos 3er div */
.cont-btn-filtros {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin-bottom: 20px;
}
.btn-filtros {
  width: 100px;
  height: 40px;
  background-color: var(--primary-color);
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  color: var(--background-color);
  /* background-size: 120% auto;
  background-image: linear-gradient(315deg, #bdc3c7 0%, var(--background-color) 50%); */
}
.btn-filtros:hover {
  background-position: right center;
}
.btn-filtros:active {
  top: 2px;
}


/* responsive */
@media screen and (max-width: 1250px){ 
  .btn-filtros {
    width: 90px;
    height: 35px;
    padding: 5px 5px;
    margin: 5px;
  }
}

@media screen and (max-width: 800px){
  .cont-filtros {
    width: 90%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  /* estilos 3er div */
  .cont-btn-filtros {
    width: 90%;
    flex-direction: row; /* como usé flex-direction antes acá tamb SOLO q cambio x row */
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .btn-filtros {
    width: 80px;
    height: 35px;
    padding: 5px 5px;
    margin: 5px;
  }
  .input-check-venta, .input-check-alq{
    transform: scale(1); /* agranda el tamaño del checkbox */
  }
}
