.favorite-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  margin-right: 10px;
  margin-bottom: 10px;
  color: black;
  background-color: rgb(255, 255, 255);
}

.favorited{
    color: red;
}
